<header>
    <h1>Exibindo resultado de busca por "Covid 19"</h1>
    <p>Encontramos um total de 20 resultados para a sua busca</p>
</header>

<main>
    <section>
        <div>
            <img src="" alt="">
            <div>
                <h3>Coronavírus: como a doença é transmitida?</h3>
                <p>Saiba oque é o coronavírus, em quanto tempo a doença pode se manifestar e quais são os principais</p>
                <a href="#">Ler mais</a>
            </div>
        </div>
        <div>
            <img src="" alt="">
            <div>
                <h3>Coronavírus: como a doença é transmitida?</h3>
                <p>Saiba oque é o coronavírus, em quanto tempo a doença pode se manifestar e quais são os principais</p>
                <a href="#">Ler mais</a>
            </div>
        </div>
        <div>
            <img src="" alt="">
            <div>
                <h3>Coronavírus: como a doença é transmitida?</h3>
                <p>Saiba oque é o coronavírus, em quanto tempo a doença pode se manifestar e quais são os principais</p>
                <a href="#">Ler mais</a>
            </div>
        </div>
        <div>
            <img src="" alt="">
            <div>
                <h3>Coronavírus: como a doença é transmitida?</h3>
                <p>Saiba oque é o coronavírus, em quanto tempo a doença pode se manifestar e quais são os principais</p>
                <a href="#">Ler mais</a>
            </div>
        </div>
        <div>
            <img src="" alt="">
            <div>
                <h3>Coronavírus: como a doença é transmitida?</h3>
                <p>Saiba oque é o coronavírus, em quanto tempo a doença pode se manifestar e quais são os principais</p>
                <a href="#">Ler mais</a>
            </div>
        </div>
        <div>
            <img src="" alt="">
            <div>
                <h3>Coronavírus: como a doença é transmitida?</h3>
                <p>Saiba oque é o coronavírus, em quanto tempo a doença pode se manifestar e quais são os principais</p>
                <a href="#">Ler mais</a>
            </div>
        </div>
    </section>

    <section>
        <div>
            <h3>Categorias</h3>

            <p>Lorem ipsum dolor</p>
            <p>Lorem ipsum dolor</p>
            <p>Lorem ipsum dolor</p>
            <p>Lorem ipsum dolor</p>
        </div>

        <div>
            <h3>Procurando alguma notícia?</h3>
            <input type="text" placeholder="Pesquisar por...">
        </div>
    </section>


</main>