.header {
    text-align: center;
    margin-bottom: 20px;
    padding: 40px 30px;

    h1 {
        font-size: 38px;
        margin-top: 20px;
    }

    h2 {
        font-weight: 300;
        font-size: 18px;
        margin-top: 6px;
    }

    a {
        color: rgb(47, 144, 173);
        font-weight: 600;
        border-radius: 5px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        padding: 8px 16px;
        text-align: center;
        display: inline-flex;
        align-items: center;
        margin-top: 30px;
    }
}

.container {
    display: flex;
    justify-content: center;
}

.sidebar {
    width: 300px;
    padding-left: 40px;
    gap: 16px;
    display: flex;
    flex-direction: column;

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 18px;
        color: #afafaf;
        border-bottom: 1px solid #afafaf;
        padding-bottom: 10px;
    }

    input {
        width: 100%;
        padding: 14px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        position: relative;
        font-size: 14px;
        cursor: pointer;
    }
}

.search {
    position: relative;

    i {
        position: absolute;
        right: 10px;
        top: 40%;
        transform: translateY(-50%);
        color: #afafaf;
        pointer-events: none;
        font-size: 20px;
    }
}


.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-bottom: 40px;
}

.post {
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s;

    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
}

.post-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
        color: #afafaf;
        margin-bottom: 8px;
    }

    a {
        color: rgb(47, 144, 173);
        font-weight: 600;
        margin-top: auto;
    }
}

.post-body {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    line-height: 1.5;
    max-height: 120px;
}

@media (max-width: 1024px) {
    .header {
        h1 {
            font-size: 32px;
        }
    }
    
    .container {
        flex-direction: column;
        align-items: center;
    }
    
    .cards {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {
    .header {
        h1 {
            font-size: 28px;
        }

        h2 {
            font-size: 16px;
        }
    }

    .post {
        max-width: 340px;
    }

    .post-info {
        padding: 10px;

        h2 {
            font-size: 20px;
        }
    }

    .post-body {
        max-height: 80px;
    }
}